body {
  background-color: #111111;
  color: white;
}

/*Carousel*/
.carousel-item {
  min-height: 50vw;
}

.carousel-bg {
  position: fixed;
  opacity: 50%;
  width: 100%;
  top: -25%;
  left: 0;
  z-index: -100;
}
/*--------*/

/*Heading*/
.heading-img {
  border-radius: 50%;
  height: 175px;
}
/*-------*/

/*Content*/
.content img {
  max-height: 400px;
}
/*-------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .carousel-item {
    min-height: 500px;
  }
}
